{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- if .Param "math" }}
  {{- $texChtml := resources.Get "js/tex-mml-chtml.min.js" -}}
  {{- with resources.GetRemote "https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" }}
    {{ with .Err }}
      {{ errorf "%s" . }}
      {{ $texChtml = resources.Get "js/tex-mml-chtml.min.js" }}
    {{ else }}
      {{ $texChtml = .Content | resources.FromString "js/tex-chtml.min.js" }}
    {{ end }}
  {{- end }}
  {{- $mathjax := (slice $texChtml) | resources.Concat "assets/js/mathjax.js" | fingerprint -}}
  <script
    defer
    crossorigin="anonymous"
    id="MathJax-script"
    src="{{ $mathjax.RelPermalink }}"
    integrity="{{ $mathjax.Data.Integrity }}"
  ></script>
  <script>
    MathJax = {
      tex: {
        displayMath: [
          ["\\[", "\\]"],
          ["$$", "$$"],
        ], // block
        inlineMath: [["\\(", "\\)"]], // inline
      },
    };
  </script>
{{- end }}
{{- if .Param "mermaid" }}
  {{- $mermaid := resources.Get "js/mermaid.min.js" -}}
  {{- with resources.GetRemote "https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js" }}
    {{ with .Err }}
      {{ errorf "%s" . }}
      {{ $mermaid = resources.Get "js/mermaid.min.js" }}
    {{ else }}
      {{ $mermaid = .Content | resources.FromString "js/mermaid.min.js" }}
    {{ end }}
  {{- end }}
  <script
    defer
    crossorigin="anonymous"
    id="Mermaid-script"
    src="{{ $mermaid.RelPermalink }}"
    integrity="{{ $mermaid.Data.Integrity }}"
  ></script>
{{- end }}
<link rel="manifest" href="/site.webmanifest" />
{{- /* preload */ -}}
<link rel="preload" href="/fonts/lxgw-wenkai/LXGWWenKaiMonoGBScreen.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-ExtraLight.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-Light.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-SemiLight.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-Regular.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-SemiBold.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-Bold.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-Italic.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-ExtraLightItalic.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-LightItalic.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-SemiLightItalic.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-SemiBoldItalic.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-BoldItalic.ttf" as="font" type="font/ttf" crossorigin>
{{- /* Head custom content area end */ -}}
