{{- if .IsNamedParams }}
  <div class="author-card" aria-label="author card">
    {{ with .Get "avatar" }}<img class="author-avatar" alt="author avatar" src="{{ . | safeURL }}" />{{ end }}
    <div class="author-card-text-wrapper" aria-hidden="true">
      {{ with .Get "name" }}<h2 class="author-name" aria-label="author name">{{ . }}</h2>{{ end }}
      {{ with .Get "content" }}
        <div class="author-card-text-content">
          {{ . | markdownify }}
        </div>
      {{ end }}
    </div>
  </div>
{{- end }}
