{{- if .IsNamedParams }}
  <a
    class="cite"
    aria-label="citation"
    {{ with .Get "id" }}id="cite-{{ . }}"{{ end }}
    {{ with .Get "url" }}href="{{ . | safeURL }}"{{ end }}
  >
    {{ with .Get "title" }}{{ . | markdownify }}{{ end }}
  </a>
  <br />
{{- else }}
  <a
    class="cite"
    aria-label="citation"
    {{ with .Get 0 }}id="cite-{{ . }}"{{ end }}
    {{ with .Get 2 }}href="{{ . | safeURL }}"{{ end }}
  >
    {{ with .Get 1 }}{{ . | markdownify }}{{ end }}
  </a>
  <br />
{{- end }}
