{{- if .IsNamedParams }}
  {{- if .Get "to" }}
    {{- if .Get "ref" }}
      <sup class="crossref" aria-label="superscript citation"
        >[<a class="anchor" href="{{ .Get "ref" | safeURL }}">{{ .Get "to" | markdownify }}</a>]</sup
      >
    {{- else }}
      <sup class="crossref" aria-label="superscript citation"
        >[<a class="anchor" href="#cite-{{ .Get "to" | safeURL }}">{{ .Get "to" | markdownify }}</a>]</sup
      >
    {{- end }}
  {{- end }}
{{- else }}
  {{- if .Get 0 }}
    {{- if .Get 1 }}
      <sup class="crossref" aria-label="supercript citation"
        >[<a class="anchor" href="{{ .Get 1 | safeURL }}">{{ .Get 0 | markdownify }}</a>]</sup
      >
    {{- else }}
      <sup class="crossref" aria-label="supercript citation"
        >[<a class="anchor" href="#cite-{{ .Get 0 | safeURL }}">{{ .Get 0 | markdownify }}</a>]</sup
      >
    {{- end }}
  {{- end }}
{{- end }}
