{{- if .IsNamedParams }}
  {{ $theme := (.Get "theme") | default "moebooru" | safeURL }}
  {{ $align := (.Get "align") | default "center" | safeCSS }}
  {{ with .Get "id" }}
    <div style="align-items: center; display: flex; justify-content: {{ $align }}">
      <img
        src="http://count.yurzi.net/get/@{{ . | safeURL }}?theme={{ $theme }}"
        alt="{{ . | safeHTMLAttr }}-counter"
      />
    </div>
  {{ end }}
{{- else }}
  {{ $theme := (.Get 1) | default "moebooru" | safeURL }}
  {{ $align := (.Get 2) | default "center" | safeCSS }}
  {{ with .Get 0 }}
    <div style="align-items: center; display: flex; justify-content: {{ $align }}">
      <img
        src="http://count.yurzi.net/get/@{{ . | safeURL }}?theme={{ $theme }}"
        alt="{{ . | safeHTMLAttr }}-counter"
      />
    </div>
  {{ end }}
{{- end }}
